<div class="container">
    <app-form [selectedRowData]="selectedRowData" (eventEmitter)="getUpdatedRuleData($event)"
        (emitNewRowData)="addNewRow($event)"></app-form>

    <h1 class="bg-info p-4 text-center mb-0 text-white text-uppercase">Table</h1>
    <div class="form-group my-3">
        <mat-form-field appearance="fill" class="w-100">
            <label for="columnSelect" class="text-uppercase">
                <b>Select a column to toggle <span class="text-danger">*</span></b>
            </label>
            <mat-select  (selectionChange)="toggleColumn($event)">
              <mat-option *ngFor="let col of colDefs" [value]="col.field">{{col.field}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <ag-grid-angular style="width: auto; height: 600px;" [class]="themeClass" [rowData]="rowData" [columnDefs]="colDefs"
        [gridOptions]="gridOptions" rowSelection="multiple" [gridOptions]="gridOptions">
        ></ag-grid-angular>

</div>