<h1 class="bg-info p-4 text-center text-white text-uppercase">Forms Details</h1>
<div class="d-flex justify-content-center mb-4">
    <form [formGroup]="ruleForm" class="w-50" (ngSubmit)="addNewrowData()">
        <div class="form-group">
            <label for="ruleName"><b>Rule Name <span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" placeholder="Rule Name" formControlName="ruleName" />
        </div>
        <div class="form-group">
            <label for="ruleName"><b>Favourite <span class="text-danger">*</span></b></label>
            <select class="form-control" formControlName="isActive">
                <option>Y</option>
                <option>N</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ruleName"><b>Type <span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" placeholder="Type" formControlName="ruleType" />
        </div>

        <div class="form-group">
            <label for="ruleName"><b>Subtype <span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" placeholder="SubType" formControlName="subType" />
        </div>

        <div class="form-group">
            <label for="ruleName"><b>Domain <span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" placeholder="Domain" formControlName="domain" />
        </div>

        <div class="form-group">
            <label for="ruleName"><b>Impacted <span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" placeholder="Impacted" formControlName="impacted" />
        </div>

        <div class="form-group">
            <label for="ruleName"><b>Favourite <span class="text-danger">*</span></b></label>
            <select class="form-control" formControlName="isFavourite">
                <option>Y</option>
                <option>N</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ruleName"><b>Scheduled <span class="text-danger">*</span></b></label>
            <select class="form-control" formControlName="isScheduled">
                <option>Y</option>
                <option>N</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ruleName"><b>lastScheduledDate <span class="text-danger">*</span></b></label>
            <input type="text" class="form-control" placeholder="lastScheduledDate"
                formControlName="lastScheduledDate" />
        </div> 

        <div class="form-group">
            <label for="ruleName"><b>Alert <span class="text-danger">*</span></b></label>
            <select class="form-control" formControlName="alertStatus">
                <option>Y</option>
                <option>N</option>
            </select>
        </div>

        <div class="text-right">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-info mx-2" type="button" (click)="onRuleUpdated(selectedRowData.id)" >update</button>
        </div>
    </form>
</div>